.complain_page {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
}
.complain_container{
    font-family: 'Arial', sans-serif;
    background-image: url("/static/media/backgroundComplain.jpg");
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.complain-h2{
    text-align: center;
    color: #333;
}
.complain-form {
    display: flex;
    flex-direction: column;
}

.complain-label {
    margin-bottom: 5px;
    color: #555;
}

.complain-input,.complain-textarea {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.complain-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.complain-button:hover {
    background-color: #45a049;
}
