<feature class="feature-page">
    <h1 class="feature-h1">Real-time Objection Detection Features</h1>
    <div class="features-container">      
        <div class="feature-box">
            <p class="feature-para">Dynamic Updates</p>
        </div>

        <div class="feature-box">
            <p class="feature-para">Scalability</p>
        </div>

        <div class="feature-box">
            <p class="feature-para">User Interaction</p>
        </div>

        <div class="feature-box">
            <p class="feature-para">Ease of Integration</p>
        </div>

        <div class="feature-box">
            <p class="feature-para">Customizable Alerts</p>
        </div>

        <div class="feature-box">
            <p class="feature-para">Cross-browser Compatibility</p>
        </div>
    </div>
</feature>