<footer class="footer-page">
    <div class="footer-panel1">
        <ul class="footer-panel1-ul">
            <p class="footer-panel1-para">Contact Details</p>
            <a  class="footer-panel1-link"href="mailto:surajpandey7493@gmail.com">surajpandey7493@gmail.com</a>
            <a  class="footer-panel1-link"href="mailto:tanmay.ahuja71a@gmail.com">tanmay.ahuja71a@gmail.com</a>
            <a  class="footer-panel1-link"href="tel:9149058210">+91 9149058210</a>
            <a  class="footer-panel1-link"href="tel:9997613897">+91 9997613897</a>
            <a  class="footer-panel1-link"target="_blank" href="https://www.instagram.com/spsurajpandeysp">@spsurajpandeysp</a>
            <a  class="footer-panel1-link"target="blank" href="https://www.instagram.com/__tanmay__71">@__tanmay__71</a>
        </ul>
        <ul class="footer-panel1-ul">
            <p  class="footer-panel1-para">Features</p>
            <a  class="footer-panel1-link"href="{% url 'home' %}">Home</a>
            <a  class="footer-panel1-link"href="{% url 'services' %}">Services</a>
            <a  class="footer-panel1-link"href="{% url 'feedback' %}">Feedback </a>
            <a  class="footer-panel1-link"href="{% url 'aboutUs' %}">About Us</a>
            <a  class="footer-panel1-link"href="{% url 'complain' %}">Complain</a>
            <a  class="footer-panel1-link"href="{% url 'contactUs' %}">Contact Us</a>
        </ul>
        <ul class="footer-panel1-ul">
            <p class="footer-panel1-para">Get to Know More Us</p>
            <a class="footer-panel1-link">Licence</a>
            <a class="footer-panel1-link">Security</a>
            <a class="footer-panel1-link">Accuracy</a>
            <a class="footer-panel1-link">Free to Use</a>
            <a class="footer-panel1-link">Guide</a>
            <a class="footer-panel1-link">Help</a>
        </ul>
    </div>
    <div class="footer-panel2">
        <div class="footer-panel2-pages">
            <a class="footer-panel2-link" >Conditions of Use</a>
            <a class="footer-panel2-link" >Privacy Notice</a>
            <a class="footer-panel2-link" >Your Ads Privacy Chocies</a>
        </div>
        <div class="footer-copyright">
            copyright by object detection website owner
        </div>
    </div>
</footer>